# URL de la base de datos Supabase
VITE_SUPABASE_URL=tu_url_aqui

# Anon Key pública de Supabase
VITE_SUPABASE_ANON_KEY=tu_anon_key_aqui

# Cloud Name de Cloudinary para el almacenamiento de radiografías e imágenes
VITE_CLOUDINARY_CLOUD_NAME=tu_cloud_name_aqui

# Nombre del Upload Preset "Unsigned" configurado en Cloudinary
VITE_CLOUDINARY_UPLOAD_PRESET=tu_upload_preset_aqui
